@import url(./vendor/fonts/fonts.css);

body {
  margin: 0;
}

.page {
  font-family: "Open Sans", sans-serif;
}

.header {
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__box {
  margin: 0 auto 0;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

.header__icon {
  margin-right: 32px;
}

.header__menu {
  display: none;
}

.product {
  margin: 26px auto 0;
  max-width: 1440px;
  display: flex;
  gap: 16px;
}

.product__description {
  padding-top: 22px;
  padding-left: 20px;
  width: 100%;
  max-width: 686px;
  color: #333333;
  display: flex;
  flex-direction: column;
}

.product__heading {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.product__number {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #828282;
}

.product__rating {
  margin-top: 18px;
  display: flex;
  gap: 4px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
}

.price {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.old-price {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-decoration-line: line-through;
  color: #828282;
}

.product__price {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product__price-price {
  display: flex;
  gap: 12px;
  align-items: center;
}

.product__price-sales {
  display: flex;
  gap: 9px;
}

.product__sale {
  padding: 4px 8px;
  border: 1px solid #333333;
  display: flex;
  align-self: center;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
}

.product__selector {
  margin-top: 32px;
  margin-bottom: 12px;
  width: 315px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
}

.product__buttons {
  margin-top: 40px;
  margin-bottom: 12px;
  display: flex;
  gap: 4px;
}

.product__button {
  border: none;
  padding: 12px 28px;
  background-color: #333333;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
}

.product__button:hover {
  cursor: pointer;
}

.product__button_like {
  padding: 14px 14px;
}

.product__lists {
  padding: 0;
  padding-top: 24px;
  border-top: 0.5px solid #C4C4C4;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product__list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.product__link {
  text-decoration: none;
  color: #333333;
  text-decoration: underline;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
}

.product__counter {
  display: flex;
  gap: 40px;
  margin-right: 8px;
  align-items: center;
  padding: 12px 20px;
  background-color: #F2F2F2;
}

.counter__button {
  border: none;
  background-color: #F2F2F2;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
}

.counter__button:hover {
  cursor: pointer;
}

.product__images {
  width: 100%;
  max-width: 686px;
  height: 878px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-image: url(./images/illustration1.png);
}

.small-images {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.small-image {
  width: 70px;
  height: 91px;
}

.footer {
  margin: 92px auto 0;
  display: flex;
  justify-content: space-between;
  color: #333333;
  padding-bottom: 34px;
  padding-left: 143px;
  padding-right: 143px;
}

.footer__heading {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.footer__list {
  margin: 0;
  margin-top: 16px;
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 335px;
}

.footer__set {
  padding: 0;
  margin: 0;
  margin-top: 45px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.footer__input {
  padding: 0;
  width: 452px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #828282;
}

.footer__submit-button {
  padding: 8px 28px;
  width: 150px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-align: center;
  border: 1px solid #333333;
  color: #333333;
  align-self: flex-end;
}

.footer__submit-button:hover {
  cursor: pointer;
}

.footer__lists {
  display: flex;
  width: 650px;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 100px auto;
  padding: 24px;
  background: #ffffff;
  width: 378px;
  position: relative;
}

.popup__header {
  font-weight: normal;
  font-size: 24px;
  line-height: 80%;
}

.popup__close {
  position: absolute;
  top: 24px;
  right: 24px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #303030;
  width: 11px;
}

.popup__set {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  border: none;
}

.popup__input {
  margin-bottom: 16px;
  width: 330px;
  padding: 20px;
  border: 0.5px solid #868686;
  font-size: 16px;
  line-height: 20px;
  color: #303030;
  background: #FDFCFC;
}

.popup__input:nth-of-type(2) {
  margin-bottom: 40px;
}

.popup__submit-button {
  margin-top: 33px;
  border: none;
  padding:  12px 28px;
  color: #ffffff;
  background-color: #333333;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
}

.popup__submit-button:hover {
  cursor: pointer;
}

.popup__text {
  font-weight: 200;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.01em;
  color: #303030;
}

.drop-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 277px;
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
}
.drop-menu:target {
  visibility: visible;
  opacity: 1;
}

.menu {
  margin: 0;
  padding-left: 24px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu__header {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
}

.menu__close {
  align-self: flex-end;
  margin: 25px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #303030;
  width: 15px;
  height: 15px;
}


@media screen and (max-width: 1000px){
  .product {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer__lists {
    width: 335px;
  }

  .footer__heading {
    max-width: 225px;
    margin-top: 45px;
  }
}

@media screen and (max-width: 686px){
  .product__images {
    width: 100%;
    max-width: 375px;
    height: 480px;
  }

  .small-image {
    width: 40px;
    height: 52px;
  }
  
  .header {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: none;
  }

  .header__menu {
    display: block;
  }
}